<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head></head>

  <body>
    <div th:fragment="common-header" class="container mt-3">
      <nav class="row border border-3 text-center">
        <h2 class="col-4">
          <a href="/" class="btn btn-lg">Plant Nursery</a>
        </h2>
        <h2 class="col-4">
          <a href="/plants" class="btn btn-lg">Piante</a>
        </h2>
        <h2 class="col-4">
          <a href="/characteristics" class="btn btn-lg">Caratteristiche</a>
        </h2>
      </nav>
    </div>
  </body>
</html>
